{% load search %}
<nav id="mainNavbar" class="navbar navbar-custom navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="{% url 'home'%}">recipes</a>
    <button class="navbar-light custom-toggler navbar-toggler" onclick="addBG()" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% get_categories %}
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link scroll" href="{% url 'add-recipe' %}">add recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="{% url 'logout' %}">logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a id="nav-link-custom" class="nav-link scroll" href="{% url 'sign-up' %}">sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll" href="{% url 'sign-in' %}">sign in</a>
            </li> 
            {% endif %}  
        </ul>
    </div>
</nav>